
body {
  background-color: black;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Imperial Script', cursive;
  font-size: 30vw;
  color: white;
  text-align: center;
  margin-top: 3vh;
  margin-bottom: 1vh;
}
img {
  display: block;
  margin: 0 auto;
  height: auto;
  width: 100%;
}
